@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
}
a:link {
    text-decoration: none;
  } 

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #fff;
    font-family: 'Lato', sans-serif, open-sans;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
    gap: 3rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    transition: all ease-in-out 0.7s;

    &:hover {
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    }
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card p {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.7rem;
    color: #cccccc;
    font-weight: 300;
    text-align: center;
}

.book {
    --witdh: 200px;
    --height: 300px;
    --thick: 40px;
    --inner: 6px;
    --pages-bg: white;
    --cover-bg: rgba(33,32,30,255);
    --cover-radius: 6px;
    position: relative;
    width: var(--witdh);
    height: var(--height);
    transform: rotateY(-30deg) rotateX(30deg);
    transition: 0.5s transform;
}

.book:hover {
    transform: rotateY(-20deg) rotateX(20deg);
}

.book,
.book__cover,
.book__pages {
    transform-style: preserve-3d;
}

.book__cover,
.book__cover::before,
.book__cover-img {
    border-top-right-radius: var(--cover-radius);
    border-bottom-right-radius: var(--cover-radius);
    user-select: none;
}

.book__cover::before,
.book__cover::after,
.book__pages::before,
.book__pages::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
}

.book__cover,
.book__cover::before,
.book__cover::after {
    background-color: var(--cover-bg);
}

.book__cover {
    width: 100%;
    height: 100%;
}

.book__cover::before {
    width: 100%;
    transform: translateZ(calc(var(--thick)*-1));
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 1);
}

.book__cover::after {
    width: var(--thick);
    transform-origin: left center;
    transform: rotateY(90deg);
}

.book__cover-img {
    width: 100%;
    height: 100%;
}

.book__pages,
.book__pages::before,
.book__pages::after {
    background: var(--pages-bg);
}

.book__pages {
    position: absolute;
    right: var(--inner);
    top: var(--inner);
    width: var(--thick);
    height: calc(100% - var(--inner)*2);
    transform-origin: right center;
    transform: rotateY(-90deg);
}

.book__pages::before,
.book__pages::after {
    width: var(--thick);
    height: calc(var(--witdh) - var(--inner));
}

.book__pages::before {
    transform-origin: center top;
    transform: rotateX(90deg);
}

.book__pages::after {
    top: unset;
    bottom: 0;
    transform-origin: center bottom;
    transform: rotateX(-90deg);
}
.book-div{
    margin: 27px 0px;
}